* {
    margin: 0;
}

/* Posicionamento dos itens na tela */

aside {
    float: left;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.userHeader {
    display: flex;
    align-items: center;
    text-align: end;
}

.userImg img {
    height: 30px;
}

main {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    justify-content: space-around;
}

.titleAndVideo {
    max-width: 70%;
}

.titleAndVideo video {
    width: 100%;
}

.buttonsAndDetails {
    margin: 2%;
}

.details p{
    padding: 2%;
}

/* Estilizacao dos itens */

aside {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

aside p {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
    padding: 3vh;
    font-weight: bold;
}

aside nav li {
    list-style: none;
}

aside nav li a {
    text-decoration: none;
    color: #725C5C;
    font-size: 1.1rem;
}

.titleHeader h2, h1 {
    color: #725C5C;
    ;
}


header {
    background: #FDF1EB;
}

h1 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.languageHeader select {
    background: #FDF1EB;
}

.titleAndVideo h1 {
    color:#ED7839;
    font-weight: bolder;
}

.buttons button {
    background-color: #ED7839;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.comoCitar {
    color: #ED7839;;
}

.details {
    border: 1px solid #ECECEC;
}

.details h1 {
    background: #FDF1EB;
    
}

.moreTextBtn {
    color:#ED7839;
    font-weight: bolder;
}


.details h3 {
    color: #ED7839;
    font-weight: bold;
    text-align: center;
}

.details p {
    text-align: center;
}

.details button {
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    font-size: 1.2rem;
    padding: 0.6vh;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

/* Ajustes para eventos no JavaScript */

.moreText {
    display: none;
}

.text.showMore .moreText {
    display: flex;
}

.text.showMore .dots {
    display: none;
}