* {
    margin: 0;
}

/* Fontes */

.details p, .resume p, .discuss p, .topicCreated p {
    font-family: 'Quicksand', sans-serif;
}

/* Posicionamento dos itens na tela */

body {
    display: flex;
}

.headerMainContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;
}

aside {
    width: 90vh;
}

aside img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem;
    max-width: 100%;
    flex-wrap: wrap;
}

.userHeader {
    display: flex;
    align-items: center;
    text-align: end;
}

.userImg img {
    height: 2rem;
}

main {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.titleAndVideo {
    max-width: 50%;
}

.titleAndVideo h1 {
    font-size: 1.6rem;
    margin: 0.5rem;
}

.titleAndVideo video {
    max-width: 100%;
    margin: 0.5rem;
}

.buttonsAndDetails {
    margin: 2%;
}

.buttons {
    margin-left: 40%;
}

.comoCitar {
    margin-left: 40%;
}

.details p{
    padding: 0.5rem;
}

.details, .resume, .discuss, .newTopic {
    margin: 0.5rem 2rem;
}

/* Estilizacao dos itens */

aside {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

aside p {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-size: calc(1vw + 1rem);
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
}

aside nav li {
    list-style: none;
}

aside nav li a {
    text-decoration: none;
    color: #725C5C;
    font-size: 1.1rem;
}

.titleHeader h2, h1 {
    color: #725C5C;
}

.titleHeader h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.titleHeader h2, .userHeader h2, .userHeader p {
    font-size: 1rem;
}


header {
    background: #FDF1EB;
}

.languageHeader {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 0.5vh;
    display: flex;
}

.languageHeader select {
    background: #FDF1EB;
    border: none;
}

.titleAndVideo h1 {
    color:#ED7839;
    font-weight: bolder;
}

.buttons button {
    background-color: #ED7839;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.buttonsAndDetails .buttons button {
    padding: 1% 4%;
}

.comoCitar {
    color: #ED7839;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.5rem;
}

.details, .resume, .discuss, .newTopic, .topicCreated {
    border: 1px solid #ECECEC;
    display: flex;
    flex-direction: column;
}

.details h1, .resume h1, .discuss h1, .newTopic h1, .topicCreated h1 {
    background: #FDF1EB;
    font-size: 1.6rem;
    padding: 0.5rem;
}

.resume p, .discuss p, .discuss h3, .newTopic p, .newTopic h2 {
    padding: 0.5rem;
}

.assunto {
    height: 2rem;
}

.conteudo {
    height: 5rem;
}

.moreTextBtn {
    color:#ED7839;
    font-weight: bolder;
}


.discuss h3, .topicCreated h3 {
    color: #ED7839;
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
}

.discuss p {
    text-align: center;
}

.discuss button {
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    font-size: 1.2rem;
    padding: 0.6vh;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    width: 18vh;
    align-self: center;
}

.newTopic h2 {
    color: #ED7839;
    font-weight: bold;
}

/* Ajustes para dispositivos móveis */

@media (max-width:991px) {
    aside p {
        font-size: calc(1vw + 1.5rem);
    }

    /* .titleAndVideo h1 {
        font-size: calc(1vw + 1.2rem);
    } */

}


/* Ajustes para eventos no JavaScript */

.moreText {
    display: none;
}

.text.showMore .moreText {
    display: flex;
}

.text.showMore .dots {
    display: none;
}

.newTopic {
    display: none;
}

.topicCreated {
    display: none;
}