<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLACA 2019</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <aside>
        <p class="slacaTitle">SLACA 2019</p>
        <img src="./imgs/dewey 4.png" alt="">
        <nav>
            <li><a href="">Apresentação</a></li>
            <hr>
            <li><a href="">Comites</a></li>
            <hr>
            <li><a href="">Autores</a></li>
            <hr>
            <li><a href="">Eixos temáticos</a></li>
            <hr>
            <li><a href="">Trabalhos</a></li>
            <hr>
            <li><a href="">Contato</a></li>
            <hr>
        </nav>
    </aside>

    <header>
        <div class="titleHeader">
            <h2>Anais do Simpósio Latino Americano de Ciências de Alimentos</h2>
            <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h1>
            <h2>ISSN: 1234-5678</h2>
        </div>
        <div class="languageHeader">
            <select name="languages" id="languages">
                <option value="ptBr">PT, BR</option>
            </select>
        </div>
        <div class="userHeader">
            <div class="userText">
                <h2>Bem vindo!</h2>
                <p>alguem12@galoascience.com</p>
            </div>
            <div class="userImg">
                <img src="./imgs/unknownUser.png" alt="">
            </div>
        </div>
    </header>

    <main>
        <div class="mainContainer">
            <div class="titleAndVideo">
                <h1>Análise sensorial de preparações funcionais desenvolvidas para escolares</br> entre 09 e 15 anos, do município de Campinas/SP</h1>
                <video src="./videos/unknownVideo.mp4"></video>
            </div>
            
            <div class="buttonsAndDetails">
                <div class="buttons">
                    <button>Download</button>
                    <button></button>
                    <button></button>
                </div>
                <p class="comoCitar">COMO CITAR ESSE TRABALHO?</p>
                <div class="details">
                    <h1>Detalhes</h1>
                    <p>Tipo de Apresentação: <strong>Pôster</strong></br>
                        Eixo temático: <strong>Alimentação e saúde (AS)</strong></br> 
                        Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></br></p>
                    </br>
                    <p><strong>Autores:</strong></br>
                        Galileo Galilei¹</br>
                        Berta Lange de Morretes²</br>
                        Isaac Newton³</br>
                        Cesar Lattes¹</br>
                        Stephen Hawking⁴</br></p>
                    </br>
                    <p>¹Universidade Estadual de Campinas</br>
                        ²Universidade de São Paulo</br>
                        ³Instituto Nacional de Pesquisas Espaciais</br>
                        ⁴Universidade Federal do Rio de Janeiro</p>
                </div>
        </div>
        </div>

        <div class="details">
            <h1>Resumo</h1>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.  Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant <span class="dots">...</span> <a class="moreTextBtn">ver mais</a>
            </br>            </br>
            <span class="moreText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.  Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant.</span></p>
        </div>

        <div class="details">
            <h1>Discussões</h1>
            <h3>Compartilhe suas ideias ou dúvidas com os autores!</h3>
            <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
            <button>+ criar tópico</button>
        </div>

    </main>
    
    <script src="./index.js"></script>
</body>
</html>